<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="bower_components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="bower_components/polymer/polymer.html"/>
<title>Scriptet template, convert mph to km/h</title>
</head>
<body>
<polymer-element name="mph-kmh">
<template>
<input type="text" placeholder="Speed in mph" value="{{mph}}"> mph = {{kmh}} km/h.
</template> 
<script>
  Polymer({
    kmh: 0,
    mphChanged: function () {
    		var tmp = this.mph*1.609344;
    		this.kmh = tmp.toFixed(2);
    }
  });
</script>
</polymer-element>

<mph-kmh></mph-kmh>
</body>
</html>