<!DOCTYPE html>
<html>
<head>
<script src="bower_components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="bower_components/polymer/polymer.html"/>
</head>
<body>
<template is="auto-binding">
<input type="text" value="{{C}}" placeholder="Temp in C"> = {{(C*9/5+32)}} F
</template>
</body>
</html>
