﻿/* Make the input fields for the log inn form fit in the available space on the left */
#left input {
	width: 140px;
}

/* Formating for the create new user dialog */
#newUserDialog label, #changeUserDetailsDialog label {
	float: left;
	display: block;
	width: 150px;
}

#newUserDialog input, #changeUserDetailsDialog input {
	width: 300px;
}

#newUserDialog input[type=button] {
	margin-top: 20px;
	margin-left: 100px;
}

/* Formating for the change user details dialog */
#changeUserDetailsDialog input[type=button] {
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 100px;
}

#changeUserDetailsDialog input[type=file] {
	width: 500px;
}

#changeUserDetailsDialog input[type=submit] {
	margin-top: 20px;
	margin-left: 100px;
}

progress {
	width: 350px;
	margin-left: 100px;
	clear: right;
}