<dom-module id="bookmarks-view" attributes="fetchfolder, rootid">
	<template>
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">Categories</div>
					<div class="panel-body">
						<folder-viewer selected="{{selected}}" fetchFolder="{{fetchfolder}}" rootId="{{rootid}}"></folder-viewer>
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">Categories</div>
					<div class="panel-body">
						<bookmark-list folder="{{selected}}"></bookmark-list>
					</div>
				</div>
			</div>
		</div>
	</template>
</dom-module>

<script>
  Polymer({
    is: "bookmarks-view",

    // add properties and methods on the element's prototype

    properties: {
      fetchfolder: {
        type: String
      }, rootid: {
        type: Number
      }, selected: {
      	type: Number,
      	notify: true
      }
    }
  });
</script>