﻿#folders {
	float: left;
	height: 400px;
	width: 200px;
	border: 1px solid gray;
	overflow: auto;
	padding-top: 5px;
}

#folders > .folders {
	margin-left: 0px;
}

.folders {
	list-style-type: none;
	margin : 0px 0px 0px 16px;
	padding : 0px;
}

.folders .foldericon {
	display: inline-block;
	height: 16px;
	width: 13px;
	background-image: url("folder.png");
}

.folders .openClose {
	display: inline-block;
	heigth: 16px;
	width: 13px;
}

.folders .openClosed {
	display: inline-block;
	heigth: 16px;
	width: 13px;
}

.folders .opened > .openClosed {
	background-image: url("opened_folder.png");
}

.folders .closed > .openClosed {
	background-image: url("has_subfolders.png");
}

.folders a {
	padding-left: 5px;
	color: black;
	display: inline-block;
	width: 150px;
	text-decoration: none;
}

.folders .selected > nobr > a {
	background: #DDD;
}

.folders a:hover {
	background: #DDD;
}

#files {
	width: 600px;
	height: 405px;
	border: 1px solid gray;
	overflow: hidden;
	padding-top: 0px;
}

#files .heading {
	background: #DDD;
	font: Arial;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 14px;
}

#files .name {
	display: inline-block;
	width: 260px;
	border-right: 1px solid gray;
	padding: 2px;
	padding-left: 5px;
	overflow: hidden;
}

#files .date {
	display: inline-block;
	width: 100px;
	border-right: 1px solid gray;
	padding: 2px;
	padding-left: 5px;
	overflow: hidden
}

#files .type {
	display: inline-block;
	width: 145px;
	border-right: 1px solid gray;
	padding: 2px;
	padding-left: 5px;
	overflow: hidden
}

#files .size {
	display: inline-block;
	width: 61px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
	text-align: right;
}

#files a .size {
	width: 60px;
}

#files .filelist {
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

#files a {
	text-decoration: none;
	color: black;
	font: arial;
	font-size: 0.9em;
	margin: 0px;
	padding: 0px;
}

#files a span {
	padding: 0px;
	margin: 0px;
}

#files a:hover {
	background: #EEE;
}

#files input[type=checkbox] {
	width: 16px;
	margin: 0px;
	padding: 0px;
}

#files a .name {
  width: 244px;
}