<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-danger" >
		<div class="panel-heading">
			<div class="panel-title">Possible security breach</div>
		</div>

		<div style="padding-top:30px" class="panel-body" >
			<p>A possible security breach has been detected. All persistent 
			login session has been terminated.</p>
			<p>We recommend that you check your account settings and
			the content of your bookmark database.</p>
			<p>We are sorry for any inconveenience.</p>
		</div>
	</div>
</div>